.playlist-container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(46, 41, 62);
    padding: 55px 25px ;
}
.playlist-list-container{
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    padding: 30px 25px; 
    min-height: 100vh;
}
.track-container{
    background-color: rgba(241, 241, 241, 0.895);
    margin: 11px 0px;
    padding: 11px 0px 10px 20px;
    border-radius: 20px;
    color: rgb(59, 59, 59);
    cursor: pointer;
}
