.playlist-container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(46, 41, 62);
    padding: 55px 25px ;
    min-height: 100vh;
}

.title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}