.searchtracks-container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    padding: 30px 25px;
}

input {
    width: 275px;
    height: 35px;
    border-radius: 30px;
    border: none;
}

.searchtracks-input {
    padding: 2px 10px;
}

.searchresults-container{
   color:white;
}

.track-container{
    color:rgb(59, 59, 59);
    background-color:rgba(241, 241, 241, 0.895);;
    margin:10px 0px;
    padding: 5px 0px 5px 20px;
    border-radius: 20px;
}