.profiledash-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  margin: 30px 30px 10px 10px;
  align-items: center;
  background-color: white;
}
