.play-container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(46, 41, 62);
    padding: 55px 25px ;
    display: flex;

}
.addSongs{
    width: 30%;
    display: inline-block;
}
.playlistInfo{
    width:60%;
    display: inline-block;
    vertical-align: text-top;
}