.dash-container {
    display: flex;
    justify-content: space-between;
}

.searchtracks-cont {
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    padding: 30px 25px;
    width: 800px;
    align-items: center;
    margin-left:300px;
}

.go-back-btn{
    width:100px;
    text-align: right;
    padding-top: 10pt;
    padding-right: 2pt;
}
