.profiledash-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:20px;
    border-radius: 15px;
    margin:30px 30px 10px 10px;
    align-items: center;
    background-color: white;
}

.update-btn{
    background-color: rgb(96, 96, 96);
    text-decoration: none;
    padding:10px 5px;
    border-radius: 10px;
    color:white;
    transition: 0.2s;
    margin-top: 5px;
}
.update-btn:hover{
    background-color: rgb(74, 74, 74);
    color:white;
}
